/* App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Sports.css */

.sports-container {
  width: 100%; /* Ensure the container takes full width */
  overflow: hidden; /* Hide overflow to create the sliding effect */
}

.sports-container .flex {
  display: flex;
  transition: transform 2s ease; /* Slower transition for smoother movement */
}

.sport-card {
  min-width: 250px; /* Adjust based on your card size */
  margin: 0 10px; /* Adjust margins between cards */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sport-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.sport-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}